---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | 施工中...</h1>
	<p class="mb-8">过段时间再来看吧！</p>
</PageLayout>
