---
import { type CollectionEntry, getCollection } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";
import Avator from "@/components/Avator.astro";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 2;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<PageLayout meta={{ title: "Maksymilan's" }}>
	<!-- Hero section -->
	<!-- Background blur -->
	<div class="absolute top-0 left-1/2 md:top-[-15%] -ml-[50vw] min-h-screen w-screen pointer-events-none blur-3xl opacity-50 overflow-x-hidden">
		<div class="absolute top-[10%] right-[-40%] w-[65%] h-full bg-gradient-to-b from-white-300 via-blue-300 to-white-300 rounded-full opacity-30 dark:opacity-10"></div>
		<div class="absolute top-[10%] left-[-40%] w-[65%] h-full bg-gradient-to-b from-white-300 via-blue-300 to-white-300 rounded-full opacity-30 dark:opacity-10"></div>
		<!-- <div class="absolute top-[-20%] left-[-50%] w-[85%] h-full bg-gradient-to-b from-black-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-10"></div> -->
		<!-- <div class="absolute top-[-20%] right-[-50%] w-[85%] h-full bg-gradient-to-b from-blue-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-10"></div> -->
	</div>
	
	<!-- <section> -->
	<div class="flex justify-center py-16 transform -translate-y-20">
		<Avator src="/avatar.jpg" alt="avator" size="w-48" link="" />
	</div>
	<!-- </section> -->
	<section class="max-w-xl mx-auto relative flex items-center justify-center  -mt-24">
		<div class="w-full text-center">
			<span class="title text-3xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent">
				Hi, 我是 Maksymilan！
			</span>
			<p class="mt-4 mb-4 text-lg font-medium">
				我现在是浙江大学计算机学院工业设计系一名大二的学生。现在在学习Web开发、深度学习算法和深度生成模型。
			</p>
			<div class="flex justify-center mb-4">
				<SocialList />
			</div>
			<div class="flex justify-center space-x-4 mt-4">
				<a href="/posts/" class="relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two">
					<span class="text-bgColor font-semibold">
						往期博客
					</span>
				</a>

				<a href="/notes/wake-up/" class="relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
					<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
						碎碎念
					</span>
				</a>
			</div>
		</div>
	</section>

	<!-- Posts Section -->
	<section aria-label="Blog post list" class="'mt-[-100vh] pt-[100vh]'">
		<h2 class="title mb-6 text-xl text-accent-two">
			<a href="/posts/">Posts</a>
		</h2>
		<ul class="space-y-4 md:space-y-2" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<!-- Notes Section -->
	{
		latestNotes.length > 0 && (
			<section class="mt-12">
				<h2 class="title mb-6 text-accent-two">
					<a href="/notes/">Notes</a>
				</h2>
				<div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
					{
						latestNotes.map((note) => (
							<div>
								<Note note={note} as="h4" isPreview />
							</div>
						))
					}
				</div>
			</section>
		)
	}
</PageLayout>
